hlsignited/FY25/02-Evaluating-LLMs/assets/AIHLS\\[[:space:]]Ignited\\[[:space:]]FY25\\[[:space:]]-\\[[:space:]]Evaluating\\[[:space:]]LLMs\\[[:space:]]in\\[[:space:]]Clinical\\[[:space:]]Contexts.pptx filter=lfs diff=lfs merge=lfs -text
